// @import './fontawesome.scss';
// @import './materialdesign.scss';

.skip-navbar {
  padding-top : rem(64px) ;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
}
.link-light {
  text-decoration: none
}
.fullscreen-div {
  height: 100%;
  width: 100%;
}
.hide-scrollbar {
  // overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none !important; /* Firefox 64  */
}
.small-spacing {
  letter-spacing: 0em!important;
}
.text-reduce-1 {
  font-size: 80%;
}
.v-list-item--link {
  min-height: 40px !important;
}
.no-space-after {
  margin-right: -.25em !important;
}
.word-break {
  word-break: break-word !important;
}
.no-pointer {
  cursor: initial;
}
.force-pointer {
  cursor: pointer !important;
}
.no-max-width {
  max-width: none !important;
  // flex: none !important;
}
.no-flex {
  flex: none !important;
}
.full-opacity {
  opacity: 1 !important;
}
.borders-y-only {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.borders-b-only {
  border-bottom: 1px solid #e7e7e7;
}
.no-background-color:before {
  background-color: white !important;
}

