@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/Marianne/Marianne-Regular.woff2") format('woff2');
  font-display: swap;
}


.tab-button {
  letter-spacing: .0rem!important;
}
.v-btn__content {
  letter-spacing: .0rem!important;
}
.theme--light.v-btn {
  color: #000091!important;
}
